## Perguntas de Negocios

In [1]:
# Importar as bibliotecas necessarias
import pandas as pd
import numpy as np
import os
from sqlalchemy import create_engine
from sqlalchemy.types import String, Integer, Date

In [2]:
# Prepara a engine
engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}".format(
                        host='localhost',
                        db='inep',
                        user='root',
                        pw='root'))

In [4]:
# Le os dados previamente armaenados
enem = pd.read_sql('enem', engine)

In [5]:
enem.head()

,index,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,0,190006113031,2019,3136702,Juiz de Fora,31,MG,16,F,1,...,B,A,B,A,A,A,D,A,B,B
1,1,190006113384,2019,3149150,Pedras de Maria da Cruz,31,MG,20,F,1,...,A,A,A,B,B,A,D,A,A,B
2,2,190006114416,2019,3171303,Viçosa,31,MG,16,F,1,...,A,A,A,B,A,A,D,A,A,B
3,3,190006114417,2019,3106200,Belo Horizonte,31,MG,38,M,2,...,B,A,A,B,A,A,B,A,A,A
4,4,190006114418,2019,3106200,Belo Horizonte,31,MG,17,F,1,...,B,A,A,D,B,A,E,B,B,B

In [8]:
enem.loc[
       enem.SG_UF_NASCIMENTO == 'MG'
].NU_NOTA_MT.describe()

count    366.000000
mean     534.674044
std      108.910360
min      359.100000
25%      445.750000
50%      517.350000
75%      617.975000
max      872.500000
Name: NU_NOTA_MT, dtype: float64

In [9]:
enem.NU_NOTA_MT.describe()

count    413.000000
mean     533.284262
std      109.877448
min      359.100000
25%      444.900000
50%      512.900000
75%      613.500000
max      872.500000
Name: NU_NOTA_MT, dtype: float64